
@{
    @*ViewBag.Title = "Trang Chủ";*@
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<<<<<<< HEAD
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div> 
        <h1>Day la trang chu</h1>
        <h2>NguyenNhatNam</h2>
    </div>
</body>
</html>
=======
>>>>>>> c48b6d3a532f2bfe31f5ed3b9c8977663fad31a9
